* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100vw;
height: 100vh;
font-family: 'Lato', sans-serif;
background-color: rgb(209, 209, 250);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

.judul{
    color: rgb(34, 34, 85);
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    background-color: rgba(228, 228, 236, 0.37);
    border-radius: 20px; 
    gap: 15px;
}

table{
    table-layout: auto;
    width: 70vw;
    height: 60vh;
    border-color: rgb(49, 49, 75);
    border: solid;
    background-color: rgb(156, 175, 192);
    color: whitesmoke;
    border-collapse: collapse;
    font-size: 16;
    font-weight: bold;
    margin: 0;
}

td,th{
    border: 3px solid;
    border-color: rgb(49, 49, 75);
    text-align: center;
}

td{
    color:black;
}


.table{
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
